#conteudo{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #000000;
    text-align: center;
   
}

#titulo{
    width: inherit;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 26px;
    font-family: verdana;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#form{
    width: inherit;
    height: 185px;
    padding-top: 20px;
    box-sizing: border-box;
}

input{
    margin-bottom: 10px;
    margin-left: 10px;
}

#resultado{
    width: 200px;
    height: 110px;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding-top: 2px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

#container_opcoes{
    width: 200px;
    height: 50px;
    float: left;
    text-align: left;
}